<h1 class="bg-success text-white p-3">Reactive Forms</h1>
<div class="container">
  <div class="row mt-3">
    <div class="col-md-10 offset-2">
      <div class="card">
        <div class="card-title  text-center bg-dark text-white p-3">
          <h4>User Sign Up Form</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
            <!-- UserName -->
            <div formGroupName="userDetails">
              <div class="form-group">
                <label for="userName">Enter User Name</label>
                <input type="text" id="userName" formControlName="userName"
                class="form-control">
                <span class="text-danger" *ngIf="f['userDetails'].get('userName')?.touched && f['userDetails'].get('userName')?.hasError('required')">
                  <strong>User Name is Required Field!</strong>
                </span>
                <ng-container *ngIf="f['userDetails'].get('userName')?.dirty">
                  <span class="text-danger" *ngIf="f['userDetails'].get('userName')?.hasError('minlength')">
                    <strong>
                      UserName should be {{f['userDetails'].get('userName')?.errors?.['minlength'].requiredLength}}
                    and actual Length is {{f['userDetails'].get('userName')?.errors?.['minlength'].actualLength}}
                    </strong>
                  </span>
                  <span class="text-danger" *ngIf="f['userDetails'].get('userName')?.hasError('maxlength')">
                    <strong>
                      UserName should be {{f['userDetails'].get('userName')?.errors?.['maxlength'].requiredLength}}
                    and actual Length is {{f['userDetails'].get('userName')?.errors?.['maxlength'].actualLength}}
                    </strong>
                  </span>
                  <span class="text-danger" *ngIf="f['userDetails'].get('userName')?.hasError('noSpaceAllowed')">
                    <strong>{{f['userDetails'].get('userName')?.errors?.['noSpaceAllowed']}}</strong>
                  </span>
                  <span class="text-danger" *ngIf="f['userDetails'].get('userName')?.hasError('pattern')">
                    <strong>Enter Only Valid Values</strong>
                  </span>
                </ng-container>
              </div>
              <!-- Email -->
              <div class="form-group">
                <label for="email">Enter Email</label>
                <input type="text" id="email" formControlName="email"
                class="form-control">
                <span class="text-danger" *ngIf="f['userDetails'].get('email')?.touched && f['userDetails'].get('email')?.hasError('required')">
                  <strong>Email is Required Field!</strong>
                </span>
                <ng-container *ngIf="f['userDetails'].get('email')?.dirty">
                  <span *ngIf="f['userDetails'].get('email')?.hasError('pattern')" class="text-danger">
                    <strong>Please Enter a Valid Email Id</strong>
                  </span>
  
                  <span *ngIf="f['userDetails'].get('email')?.pending" class="text-primary">
                  <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  Checking email availability! 
                  </span>
                  <span *ngIf="f['userDetails'].get('email')?.dirty && f['userDetails'].get('email')?.hasError('emailExistErr')">
                    <strong class="text-danger">
                      {{f['userDetails'].get('email')?.errors?.['emailExistErr']}}
                    </strong>
                  </span>
                  <span *ngIf="f['userDetails'].get('email')?.valid">
                    <strong class="text-success">
                      This Email Id is Available!
                    </strong>
                  </span>
                </ng-container>
                </div>
            </div>
              <!-- Emp Id -->
               <div class="form-group">
                <label for="empId">Employee Id</label>
                <input type="text" class="form-control" formControlName="empId" placeholder="eg.E123">
                <span *ngIf="f['empId'].dirty && f['empId'].hasError('invalidMsg')" class="text-danger">
                  <strong>{{f['empId'].errors?.['invalidMsg']}}</strong>
                </span>
               </div>
              <!-- Gender -->
              <div class="form-group">
                <label [for]="gen" *ngFor="let gen of genders">
                <input type="radio" [id]="gen" formControlName="gender" class="mx-1"
                name="gender" [value]="gen">
                {{gen}}
              </label>
                </div>

                <!-- skills -->
                 <div class="form-group">
                  <h6>Enter Your Skills:- </h6>
                  <div class="row mb-4" *ngFor="let skill of skillsFOrmArr.controls; index as i" formArrayName="skills">
                    <div class="col-md-9">
                      <input type="text" [formControlName]="i" class="form-control">
                      <span *ngIf="skill.touched && skill.hasError('required')">
                          <strong>Skill is Mandatory</strong>
                      </span>
                    </div>
                    <div class="col-md-3">
                      <button class="btn btn-danger" (click)="onRemove(i)" *ngIf="i>0" type="button">Delete</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <button class="btn btn-info" (click)="addSkills()" *ngIf="skillsFOrmArr.length<5">
                        Add Skill
                      </button>
                      <p class="alert alert-info" *ngIf="skillsFOrmArr.length>=5">
                        You can add only up to 5 skills..
                      </p>
                    </div>
                  </div>
                 </div>

                 <!-- Address -->
                  <div class="row my-3">
                    <div class="col-md-6" formGroupName="currentAddress">
                     <div class="text-center"><h4>Current Address</h4>
                     <select formControlName="country" class="form-control">
                      <option [value]="country.Country" *ngFor="let country of countrInfoData">
                        {{country.Country}}
                      </option>
                     </select>
                     <div class="form-group">
                      <input type="text" placeholder="State" class="form-control mt-3"
                      formControlName="state">
                     </div>
                     <div class="form-group">
                      <input type="text" placeholder="City" class="form-control mt-3"
                      formControlName="city">
                     </div>
                     <div class="form-group">
                      <input type="text" placeholder="zipcode" class="form-control mt-3"
                      formControlName="zipcode">
                     </div>
                    </div>
                  </div>
                  <div class="col-md-6" formGroupName="permanentAddress">
                    <div class="text-center"><h4>Permanent Address</h4>
                    <select formControlName="country" class="form-control">
                     <option [value]="country.Country" *ngFor="let country of countrInfoData">
                       {{country.Country}}
                     </option>
                    </select>
                    <div class="form-group">
                     <input type="text" placeholder="State" class="form-control mt-3"
                     formControlName="state">
                    </div>
                    <div class="form-group">
                     <input type="text" placeholder="City" class="form-control"
                     formControlName="city">
                    </div>
                    <div class="form-group">
                     <input type="text" placeholder="Zip Code" class="form-control"
                     formControlName="zipcode">
                    </div>
                   </div>
                 </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <label for="isAddSame">
                      <input type="checkbox" id="isAddSame" formControlName="isAddSame"> Address Same As Above
                    </label>
                    </div>
                  </div>

                  <!-- Password -->
                 <div class="form-group">
                  <label for="password">Password</label>
                  <input type="text" id="password" class="form-control" formControlName="password">
                  <small class="text-muted">Password and Confirm Password should be same!</small>
                  <span *ngIf="f['password'].touched && f['password'].hasError('required')">
                    <strong>Password is required field.</strong>
                  </span>
                  <span *ngIf="f['password'].dirty && f['password'].hasError('pattern')">
                    <strong>Please enter Valid Password</strong>
                  </span>
                 </div>
                 <div class="form-group">
                  <label for="confirmpassword">Confirm Password</label>
                  <input type="text" id="confirmpassword" class="form-control"
                  formControlName="confirmpassword">
                  <span *ngIf="f['confirmpassword'].dirty && f['confirmpassword'].hasError('passwordCheckErr')">
                    <strong>{{f['confirmpassword'].errors?.['passwordCheckErr']}}</strong>
                  </span>
                 </div>
                   
              <!-- Submit -->
              <div class="text-right">
                <button class="btn btn-outline-info" type="submit">
                  Sign Up
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>